.languages-frameworks-section {
	width: 100vw;
	background-color: rgba(243, 243, 243, 1.00);
	margin: 0 42px;

	&__heading {
		font-family: 'Arvo', serif;
		font-size: 2em;
		padding: 35px 20px 0 20px;

		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			font-size: 1.7em;
		}

		h2 {
			padding: 20px 20px;
			color: rgba(0, 120, 181, 1.00);
		}
	}

	&__logos {
		max-width: 1200px;
		padding: 30px 0;
		margin: 0 auto !important;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;

		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			max-width: 80vw;
		}

		&--logo {
			padding: 20px 30px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
				padding: 10px 20px;
			}

			p {
				padding-top: 10px;
				font-size: 1.2em;
				font-family: 'Arvo', serif;
				cursor: default;

				@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
					max-width: 60px;
					max-height: 45px;
					width: auto;
					height: auto;
					font-size: 0.7em;
					padding-top: 5px;
				}
			}

			img {
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
				transition-duration: 0.5s;
				display: block;
				max-width: 100px;
				max-height: 80px;
				width: auto;
				height: auto;

				@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
					max-width: 100px;
					max-height: 100px;
					width: auto;
					height: auto;
					-webkit-filter: grayscale(0);
				}
			}

			/* Disable grayscale on hover */
			img:hover {
				-webkit-filter: grayscale(0.6);
				filter: none;
				transition-duration: 0.5s;
				display: block;
				max-width:100px;
				max-height:80px;
				width: auto;
				height: auto;

				@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
					max-width: 105px;
					max-height: 105px;
					width: auto;
					height: auto;
					-webkit-filter: grayscale(0);
				}
			}
		}
	}

	&__more {
		padding-bottom: 30px;

		p {
			font-size: 2.5em;
			font-family: 'PT Sans', Helvetica, Arial, sans-serif;

			@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
				font-size: 1.8em;

			}
		}
	}

}