@mixin social-card($bg-color-hover, $bg-color-click) {
	width: 10em;
	height: 10em;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 6px solid rgba(243, 243, 243, 1.00);
	border-radius: 1em;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	letter-spacing: 4px;
	font-weight: 100;
	text-transform: uppercase;
	box-shadow: 12px 16px 35px 0px rgba(0,0,0,0.30);
	transition: box-shadow 150ms linear, background-color 150ms linear, transform 150ms linear;

	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		width: 5em;
		height: 5em;
		margin: 20px !important;
		padding: 20px;
		align-content: space-between;
	}

	@media (min-device-width : 745px) and (max-device-width : 660px) {
		width: 4em;
		height: 4em;
		margin: 5px !important;
		padding: 20px;
		align-content: space-between;
	}

	@media (min-device-width : 660px) {
		width: 5em;
		height: 5em;
		margin: 20px 35px !important;
		padding: 20px;
		align-content: space-between;
	}

	&:hover {
		transform: scale(.98);
		background-color: darken($bg-color-hover, 10%);
		box-shadow: 6px 8px 8px 0px rgba(0,0,0,0.30);
	}
	&:active {
		transform: scale(.97);
		background-color: darken($bg-color-click, 15%);
		box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.30);
	}
}

.footer-container {
	background-color: rgba(26, 45, 54, 1.00);
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		height: 500px;
	}

	@media  all and (min-device-height: 1025px) and (max-device-width : 745px) {
		height: 700px;
	}

	@media  all and (min-device-width : 745px) and (max-device-width : 660px) {
		height: 300px;
	}


	.social-links {
		display: flex;
		justify-content: space-around;
		max-width: 1100px;
		width: 100%;
		margin-bottom: 50px;
		flex-wrap: wrap;

		@media (min-device-width : 745px) {
			width: 80%;
		}


		&__card {

			&--insta {
				@include social-card(rgba(184, 50, 109, 0.3), rgba(184, 50, 109, 0.4));
				margin: 20px;
			}

			&--linkedin {
				@include social-card(rgba(0, 120, 181, 0.3), rgba(0, 120, 181, 0.4));
			}

			&--github {
				@include social-card(rgba(22, 21, 22, 0.3), rgba(22, 21, 22, 0.4));
			}

			&--blog {
				@include social-card(rgba(80, 187, 137, 0.3), rgba(80, 187, 137, 0.4));
			}

		}
	}

	.footer-text {
		font-size: 2em;
		font-family: 'Arvo', serif;
		color: white;
		padding: 42px 0;
		vertical-align: middle;

		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			font-size: 1.2em;

			svg {
				//height: 2.3em;
			}
		}

		&__link {
			text-decoration: none;
			color: white;
			transition-duration: 0.3s;
			&:hover {
				color: rgba(80, 187, 137, 1.00);
			}
		}

		.heart {
			color: rgba(149, 36, 49, 1.00);
		}
	}
}
