.made-with-section {
	width: 100vw;
	background-color: rgba(0, 120, 181, 1.00);
	//background-color: rgba(15, 136, 251, 1.0);

	height: 1000px;
	overflow: hidden;

	@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
		height: auto;
	}

	&__content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		max-width: 1200px;
		margin: 0 auto !important;
		padding-top: 130px;

		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
			padding-top: 80px;
		}

		&--left {
			@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
				flex: 1 100vw;
				width: 100vw;
			}

			flex: 1 50%;

			.text-section {
				padding: 0 10%;
				color: white;

				&__heading {
					font-size: 42px;
					font-weight: bold;
					line-height: 52px;
					margin-bottom: 25px;
				}

				&__overview {
					padding-top: 30px;
					font-size: 22px;
					font-weight: 400;
					line-height: 32px;
					text-align: left !important;

					&--vue {
						text-decoration: none;
						color: white;
						font-weight: bold;
						font-style: italic;

						&:hover {
							//color: rgba(0, 190, 131, 0.9);
						}
					}

					&--gcp {
						text-decoration: none;
						color: white;
						font-weight: bold;
						font-style: italic;

						&:hover {
							//color: rgba(233, 69, 57, 0.9);
						}
					}

					&--github {
						text-decoration: none;
						color: white;
						font-weight: bold;
						font-style: italic;

						&:hover {
							//color: rgba(32, 31, 31, 0.9);
						}
					}
				}

				&__point-list {
					text-align: left;
					padding-bottom: 42px !important;
					&--item {
						span {
							padding-top: 60px;
							display: flex;
							align-items: center;
							h4 {
								padding-left: 20px;
								font-size: 18px;
								font-weight: 500;
							}
						}
						img {
							padding-top: 20px;
							max-height: 60px;
							//max-width: 200px;
						}
					}
				}

			}
		}

		&--right {
			@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
				visibility: hidden;
				display: none;
			}
			flex: 0 50%;
			overflow: visible;

			.mac-window {
				display: inline-block;
				overflow: hidden;
				width: 750px;
				border-top: 2px solid white;
				border-radius: 10px;
				height: 925px;
				margin: -4% 0 10% 35% !important;
				background-color: white;
				position: relative;
				//top: 0;
				//left: 0;
				-webkit-box-shadow: -5px 10px 40px 10px rgba(0,0,0,0.30);
				-moz-box-shadow: -5px 10px 40px 10px rgba(0,0,0,0.30);
				box-shadow: -5px 10px 40px 10px rgba(0,0,0,0.30);
			}

			.text-window {
				margin-top: 1.6em !important;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				height: 750px;
				background-color: black;
			}

			li {
				display: inline;
			}

			.window-control {
				width: 15px;
				height: 15px;
				border-radius: 20px;
				margin: 2px;
				float: left;
				margin-top: 7px;
				margin-right: 5px;
			}

			.red {
				background-color: #df6961;
				margin: 4px 0 0 8px !important;
			}

			.yellow {
				background-color: #f2bc57;
				margin: 4px 0 0 8px !important;
			}

			.green {
				background-color: #6bb358;
				margin: 4px 0 0 8px !important;
			}

			.blinking-cursor {
				font-weight: bold;
				height: 300px;
				font-size: 26px;
				color: #FFFFFF;
				margin-left: 10px !important;
				width: 750px;
				p {
					position: absolute;
					top: 40px;
					left: 20px;
				}
				span {
					position: absolute;
					top: 40px;
					left: 205px;
					-webkit-animation: 1s blink step-end infinite;
					-moz-animation: 1s blink step-end infinite;
					-ms-animation: 1s blink step-end infinite;
					-o-animation: 1s blink step-end infinite;
					animation: 1s blink step-end infinite;
				}
			}

			.google-cloud {
				width: 750px;
				height: 300px;
				//background-color: green;
				border-top: 1px solid rgba(133, 142, 142, 0.7);
				background: url(assets/google-cloud-platform-screen.png) no-repeat left top;
			}

			.github {
				width: 750px;
				height: 300px;
				background-color: blue;
				border-top: 1px solid rgba(133, 142, 142, 0.7);
				background: url(assets/github-screen.png) no-repeat left top;
			}

			@keyframes blink {
				from, to {
					color: transparent;
				}
				50% {
					color: white;
				}
			}

			@-moz-keyframes blink {
				from, to {
					color: transparent;
				}
				50% {
					color: white;
				}
			}

			@-webkit-keyframes blink {
				from, to {
					color: transparent;
				}
				50% {
					color: white;
				}
			}

			@-ms-keyframes blink {
				from, to {
					color: transparent;
				}
				50% {
					color: white;
				}
			}

			@-o-keyframes blink {
				from, to {
					color: transparent;
				}
				50% {
					color: white;
				}
			}
		}
	}
}

